﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn about the process of getting registered on the IDEF site.
                    <a class="btn btn-default" href="https://www.idefregistry.org/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There is a tension between usability, privacy, security and interoperability.
                    <a class="btn btn-default" href="https://wiki.idesg.org/wiki/index.php?title=Identity_Model">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    A new identity model is described for the best user experience in federated identity.
                    <a class="btn btn-default" href="https://wiki.idesg.org/wiki/index.php?title=Identity_Model_Overview">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This Web Application</h2>
        <p>The IDESG separates Web Sites on the Internet into the roles that create claims (Identity and Attributes Providers) and the roles that consume claims (Relying Parties).
        This is an example of a Relying Party web site that can interoperate with third party Identity Providers in addition to creating logins for users that do not have,
        or do not wish to use, external federated Identity Providers.</p>
        <ul>
            <li>The Example uses the open source library ASP.NET Core MVC version 1.1</li>
            <li><a href="https://bitbucket.org/tomcjones/idesg">Bitbucket</a> for tracking issues from users</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap for UX elements</a></li>
        </ul>
        <h2>Source Code</h2>
        <p>is freely available at <a href="https://bitbucket.org/tomcjones/idesgrp">this site</a></p>
    </div>
    <div class="col-md-4">
        <h2>IDESG Guidelines</h2>
        <p>The collections of IDESG guidelines current at the time were used to create this example of best practices.</p>
        <p>
            <a class="btn btn-default" title="This link navigates to the IDESG wiki."
               href="https://wiki.idesg.org/wiki/index.php?title=User_Experience_Guidelines_Metrics">
                UX Guidelines &raquo;
            </a>
        </p>
        <p>
            The list of the baseline Functional requirments the IDEF version 1.0 are used in the Self-Assesment
            and are referenced in links throughout this example
            using the same azure coloring and mouse hover tool tip as the button below.
        </p>
        <p>
            <a class="btn btn-bfr" title="This link navigates to the main page for the web version of guidelines"
               href="https://wiki.idesg.org/wiki/index.php?title=Baseline_Functional_Requirements_v1.0">Baseline Functional Reqs &raquo;</a>
        </p>
        <p>
            Mapping of roles used from the IDEF:
            <ol>
                <li>Authenticate - This role is performed within this example for local users and in 3rd party providers if enabled.</li>
                <li>Authorize - This example, like all RPs, contain this role, some parts of which could be performed in other servers</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>IDESG Guidelines for business proceses</h2>
        <p>The collections of IDESG guidelines current at the time were used to create this example of best practices.</p>

        <p>
            All Relying Parties shall document business polcies and proceedures for all identity functions.
        </p>
        <p>
            <a class="btn btn-bfr" title="View the Interop-5 requirement"
               href="https://wiki.idesg.org/wiki/index.php?title=Interop_Req_5">Documented Processes &raquo;</a>
        </p>
        <h2>NIST and the NSTIC</h2>
        <p>
            The origin and current direction of the National Strategy for Trusted Identities in Cyberspace.
            <div style="margin:4px">
                <a class="btn btn-default" title="This link navigates to the main page for the web version of guidelines"
                   href="https://www.nist.gov/itl/tig">Trusted Identities Group &raquo;</a>
            </div>
            <div style="margin:4px">
                <a class="btn btn-default" title="This link navigates to the main page for the web version of guidelines"
                   href="http://nstic.blogs.govdelivery.com/">NSTIC Notes &raquo;</a>
            </div>
            <div style="margin:4px">
                <a class="btn btn-default" title="This link navigates to the main page for the web version of guidelines"
                   href="https://www.whitehouse.gov/sites/default/files/rss_viewer/NSTICstrategy_041511.pdf">Origin Document  &raquo;</a>
            </div>
        </p>
    </div>
    <!--
    <div class="col-md-3">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
        -->
</div>
<!--the following script is necessary to get the carousel to work on iPhones' Safari -->
<script src="~/lib/Holder/holder.min.js"></script>
