﻿@model EditPersonalViewModel
@{
    ViewData["Title"] = "Edit Personal Information";
}

<p class="text-info" style="margin-top:9px">
    You can change this information in your user account on this site. For most data fields a validation process will be initiated.
</p>

<form asp-controller="Manage" asp-action="EditPersonal" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Edit your personal information</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" value=@Model.UserName />
            <!--      <span asp-validation-for="UserName" class="text-danger"></span> -->
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" value=@Model.Email />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="GivenName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="GivenName" class="form-control" value=@Model.GivenName />
            <span asp-validation-for="GivenName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FamilyName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FamilyName" class="form-control" value=@Model.FamilyName />
            <span asp-validation-for="FamilyName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Save Changes</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
