﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>
<h3>Associate your @ViewData["AuthenticationScheme"] account.</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Registering a location on this web site to contain your profile information.</h4>
    <hr />
    <p class="text-info">
        This information is required to enable us to assure that we recognize you when you return to this site at a later time.
        You can change any of the information that you provide at this time when you signin later.
    </p>
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
        Please enter an email address for this site below and click the Register button to finish
        sign in. If an email address is provided by the provider, you may change it for the use by this site to conntact you.
    </p>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" value=@Model.Email />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" value=@Model.Name />
            <span asp-validation-for="Name" class="text-danger"></span>
            <span>This is the identifier that will be displayed to other users of this site.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
    <div>
        For your information, the following information was provided by the @ViewData["LoginProvider"] Identity Proivder.
        @if (Model.DateOfBirth != null)
        {<div> Date of Birth </div>}
        @if (Model.Country != null)
        {<div>Country @Model.Country</div>}
        @if (Model.HomePhone != null)
        {<div>Phone @Model.HomePhone</div>}
        <div>Name Id @Model.NameIdentifier</div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
