﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Sign in";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div asp-validation-summary="All"  style="font-size:14px" class="text-danger"></div>   <!--this is where error messages are posted-->
                <h4>Use a local account to sign in.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <h4>Use external provider to sign in.</h4>
            <hr />
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support signing in via external providers.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    if (provider.AuthenticationScheme == "OpenIdDynamic")
                                    {
                                        ViewData["Dynamic"] = "OpenIdDynamic";
                                    }
                                    else
                                    {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Sign in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                    string sTest = (string)ViewData["Dynamic"];
                    if (sTest == "OpenIdDynamic")
                    {
                        <form asp-controller="Account" asp-action="DynamicLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" style="width:100%">
                            <div>Enter an email here only for OpenID Connect Sign in</div>
                            <div class="form-group" style="margin-bottom:6px">
                                <label asp-for="Email" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-10" style="width:100%;padding:3px;position:center">
                                <button type="submit" class="btn btn-default" name="provider" value="@sTest"
                                        style="position:center" title="Sign in using Dynamic lookup of Open Identity Provider">
                                    Sign In using this email address
                                </button>
                            </div>
                        </form>
                        <div style="padding-top:10px">
                            Ideally these 3rd party Identity Providers would be IDESG compliant. While that is not possible until the Identity Ecosystem
                            is more widely deployed, inclusion of at least one IDESG compliant site is strongly encouraged.It is the goal of the IDESG
                            to create a sample IdP for that purpose.

                        </div>
                    }
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
